apiVersion: v2
description: Yaook Keystone resources operator (users, endpoints)
type: application
name: keystone-resources-operator
version:  {{ version }}
appVersion: {{ version }}
kubeVersion: ">=1.16.0-0"
